In [1]:
import pandas as pd

<div style="color: blue; font-size: 20px; text-align: center;">2 Main Data-types</div>

<div style="color: blue; font-size: 20px; text-align: center;">1) Series</div>

In [9]:
cars = pd.Series(["BMW","Honda","Skoda"])

In [10]:
cars

0      BMW
1    Honda
2    Skoda
dtype: object

In [11]:
colours = pd.Series(["Red","Green","Blue"])

In [12]:
colours

0      Red
1    Green
2     Blue
dtype: object

<div style="color: blue; font-size: 20px; text-align: center;">2) DataFrames</div>

In [13]:
cars_data = pd.DataFrame({"car make":cars,"colour":colours})

In [14]:
cars_data

  car make colour
0      BMW    Red
1    Honda  Green
2    Skoda   Blue

<div style="color: blue; font-size: 20px; text-align: center;">Import-Data</div>

In [17]:
carsales_data = pd.read_csv("car-sales.csv")

In [21]:
carsales_data

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

<div style="color: blue; font-size: 20px; text-align: center;">Export-Data</div>

In [30]:
carsales_data.to_csv("Exported-car_sales.csv",index = False)

In [31]:
exported = pd.read_csv("Exported-car_sales.csv")

In [32]:
exported

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

<div style="color: blue; font-size: 20px; text-align: center;">Describe-Data</div>

In [35]:
#attribute hence no ()
exported.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price            object
dtype: object

In [38]:
#attribute so no ()
exported.columns

Index(['Make', 'Colour', 'Odometer (KM)', 'Doors', 'Price'], dtype='object')

In [39]:
exported.index

RangeIndex(start=0, stop=10, step=1)

In [40]:
#fucntion hence ()
exported.describe()

       Odometer (KM)      Doors
count      10.000000  10.000000
mean    78601.400000   4.000000
std     61983.471735   0.471405
min     11179.000000   3.000000
25%     35836.250000   4.000000
50%     57369.000000   4.000000
75%     96384.500000   4.000000
max    213095.000000   5.000000

In [41]:
exported.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           10 non-null     object
 1   Colour         10 non-null     object
 2   Odometer (KM)  10 non-null     int64
 3   Doors          10 non-null     int64
 4   Price          10 non-null     object
dtypes: int64(2), object(3)
memory usage: 532.0+ bytes

In [46]:
exported.mean(numeric_only=True)

Odometer (KM)    78601.4
Doors                4.0
dtype: float64

In [61]:
#example for mean
car_prices = pd.Series([100,120,140])

In [64]:
car_prices.mean()

np.float64(120.0)

In [67]:
exported.sum()

Make             ToyotaHondaToyotaBMWNissanToyotaHondaHondaToyo...
Colour               WhiteRedBlueBlackWhiteGreenBlueBlueWhiteWhite
Odometer (KM)                                               786014
Doors                                                           40
Price            $4,000.00$5,000.00$7,000.00$22,000.00$3,500.00...
dtype: object

In [68]:
exported["Doors"].sum()

np.int64(40)

In [69]:
len(exported)

10